/***************************REGLES GENERALES*************************/
:root {
  --white: #fffef9;
  --black: #333232;
  --blue: #4580b2;
  --rose: #ffa4bb;
  --yellow: #fde82e;
  --orange: #fe6622;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Antonio", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}
/*h1 landing*/
h1 {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
}
/*h2 title part*/
h2 {
  color: var(--black);
  font-size: 5rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.3em;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/**#backToTopBtn**/
#backToTopBtn {
  height: 45px;
  width: 45px;
  display: none;
  position: fixed;
  align-self: flex-end;
  bottom: 85px;
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px var(--black);
  transition: all 0.1s ease-in-out;
  margin-right: 15px;
}
#backToTopBtn:hover {
  background-color: var(--blue);
}
#backToTopBtn:active {
  transform: scale(1.1);
}
#backToTopBtn img {
  height: 35px;
  transition: all 0.4s ease-in-out;
}
#backToTopBtn:hover img {
  transform: scale(0.9);
}
/*****************ANIMATION**********/
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*****************ANIMATION**********/
::-webkit-input-placeholder {
  /* Pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
  opacity: 1;
}
:-moz-placeholder {
  /* Pour les anciennes versions de Firefox */
  opacity: 1;
}
::-moz-placeholder {
  /* Pour les nouvelles versions de Firefox */
  opacity: 1;
}
:-ms-input-placeholder {
  /* Pour Internet Explorer */
  opacity: 1;
}
/***************************MAIN*************************/
/*******************HEADER*/
header {
  top: 0;
  position: fixed;
  height: auto;
  width: 100vw;
  z-index: 3;
}
/****MOBILE**/
.mobile-nav {
  height: 75px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  transition: all 0.3s ease-in-out;
}
/*logo*/
.mobile-nav img {
  height: 100%;
  width: auto;
}
/**SELECT LANGUAGE***/
#language-select {
  padding: 5px;
  width: 50px;
  height: 40px;
  border: 2px solid var(--yellow);
  background-color: var(--blue);
  font-size: 18px;
  color: var(--yellow);
  border-radius: 10px;
}
/******.HAMBURGER-BTN*******/
.hamburger-btn {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 40px;
  transition: 0.5s ease-in-out;
}
/***SPAN***/
.hamburger-btn span {
  height: 4px;
  width: 40px;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: var(--yellow);
  transform-origin: left center;
}
.hamburger-btn span:nth-child(1) {
  background-color: var(--orange);
}
.hamburger-btn span:nth-child(3) {
  background-color: var(--rose);
}
.hamburger-btn.open span {
  background-color: var(--yellow);
}
.hamburger-btn.open span:nth-child(1) {
  transform: rotate(45deg);
}
.hamburger-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.hamburger-btn.open span:nth-child(2) {
  opacity: 0;
}
.desktop-links {
  display: none;
}
/*******************FOOTER*/

section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
/*********************************************************.LANDING*/
.landing-section {
  width: 85%;
  height: 90vh;
  padding: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.landing-section h1 {
  padding: 0 15%;
}
/*******************NEWSLETTER-SECTION*/
.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  width: 90vw;
  height: 250px;
  padding: 0 5%;
  gap: 2rem;
}
.newsletter-title, .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.newsletter-title {
  order: 1;
  gap: 1rem;
}
.newsletter-title h2 {
  font-size: 3rem;
  color: var(--white);
}
.newsletter-title p {
  color: var(--white);
}
.newsletter-form {
  order: 2;
}
.newsletter-form form{
  width: 100%;
}
input:focus {
  outline: none;
}
.newsletter-form input, .newsletter-form button{
  border: solid 2px var(--rose);
  border-radius: 5px;
  padding: 5px 5%;
  color: white;
  opacity: 1;
}
.newsletter-form input{
  background-color: var(--black);
  padding-left: 5px;
  padding-right: 20%;
}
.newsletter-form button{
  background-color: var(--rose);
  
}
.newsletter-form input::placeholder{
  color: var(--white);
}

/*******************EVENTS-SECTION*/
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--rose);
  width: 90vw;
  height: 1000px;
  padding: 10% 5%;
}
/*******************MUSIQUE-SECTION*/
.musique-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  width: 90vw;
  padding: 5rem 5%;
  gap: 5rem;
}
.musique-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.musique-title h2 {
  z-index: 2;
  display: flex;
  align-items: center;
}
.musique-title h3 {
  z-index: 2;
  color: var(--black);
}
.musique-title img {
  width: 75px;
}
/**2 CIRCLES**/
#circle-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  margin-bottom: 40%;
  flex-shrink: 0;
  z-index: 1; 
  border-radius: 50%;
  background: var(--rose);
  background-image: url(/assets/img/icones/icon-vinyl2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  animation: rotate-animation 10s infinite linear;
}
#circle-2 {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 30%;
  margin-top: 50%;
  flex-shrink: 0;
  z-index: 0;  
  border-radius: 50%;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#circle-2 a{
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black);
  background-image: url(/assets/img/icones/icon-vinyl3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
#circle-2 a:hover{
  animation: rotate-animation 10s infinite linear;
  transform: scale(1.1);
}
#circle-2 a:nth-child(2){
  margin-top: 2rem;
}
#vinyl {
  width: 100%;
}
/*******************MENU-SECTION*/
.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  width: 90vw;
  height: 1000px;
  padding: 10% 5%;
}

/*************************FOOTER*******************************/
footer {
  bottom: 0;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blue);
}
