/***************************REGLES GENERALES*************************/
:root {
  --white: #fffef9;
  --black: #333232;
  --blue: #4580b2;
  --rose: #ffa4bb;
  --yellow: #fde82e;
  --orange: #fe6622;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Antonio", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  justify-content: space-between !important;
  overflow-x: hidden;
}
.overflow-hidden{
  overflow: hidden;
}
.flex-col{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*h1 landing*/
h1 {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
}
/*h2 title part*/
h2 {
  color: var(--black);
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.3em;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/**#backToTopBtn**/
#backToTopBtn {
  height: 45px;
  width: 45px;
  display: none;
  position: fixed;
  align-self: flex-end;
  bottom: 45px;
  background-color: var(--black);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px var(--black);
  transition: all 0.1s ease-in-out;
  margin-right: 15px;
  z-index: 10;
}
#backToTopBtn:hover {
  background-color: var(--yellow);
  box-shadow: 0px 0px 4px 0px var(--yellow);
}
#backToTopBtn:active {
  transform: scale(1.1);
}
#backToTopBtn img {
  height: 35px;
  transition: all 0.4s ease-in-out;
}
#backToTopBtn:hover img {
  transform: scale(0.9);
}
/*****************ANIMATION**********/
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

/*****************ANIMATION**********/
::-webkit-input-placeholder {
  /* Pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
  opacity: 1;
}
:-moz-placeholder {
  /* Pour les anciennes versions de Firefox */
  opacity: 1;
}
::-moz-placeholder {
  /* Pour les nouvelles versions de Firefox */
  opacity: 1;
}
:-ms-input-placeholder {
  /* Pour Internet Explorer */
  opacity: 1;
}
/***************************MAIN*************************/
section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
/**************************************LANDING-SECTION*/
.landing-section {
  width: 85%;
  height: 90vh;
  padding: 7.5%;
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 6;
}
.landing-section h1 {
  padding: 0 15%;
}
/*******************EVENTS-SECTION*/
.events-section {
  width: 90vw;
  height: 1000px;
  padding: 10% 5%;
  background-color: var(--rose);
  gap: 4rem;
}
.events-section p{
  width: 100%;
  text-align: start;
  font-size: 1.5rem;
}
.events-actual{
  width: 100%;
  gap: 1rem;
}
.events-actual img{
  width: 100%;
  border: solid 2px var(--black);
  border-radius: 10px;
}
.events-slider{
  width: 100%;
}
/*******************FOLLOW-US-SECTION*/
.followus-section {
  width: 90vw;
  padding: 2rem 5%;
  background-color: var(--yellow);
  z-index: 1;
}
.followus-section h2{
  font-size: 3rem;
  width: 100%;
  text-align: start;
}
.followus-media{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10%;
}
#arrow{
  width: 65%;
  z-index: -1;
}
.followus-media div{
  gap: 1rem;
}
.followus-media div img{
  width: 40px;
}
/*******************MENU-SECTION*/
.menu-section {
  width: 90vw;
  padding: 5rem 5%;
  background-color: var(--orange);
}
.menu-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  z-index: 3;
}
.menu-title h2{
  width: 100%;
  color: var(--white);
}
 .menu-title h3{
  color: var(--white);
  width: 70%;
}
#circle-3 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  margin-top: -40REM;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--rose);
  z-index: 0;
}
.menu-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--black);
  z-index: 2;
}
.menu-desc h3{
  width: 90%;
  color: var(--white);
  z-index: 2;
  text-align: center;
  padding-bottom: 3rem;
}
#menu-img{
  width: 95%;
  border-radius: 10px;
  margin-top: -20%;
  z-index: 3;
}
/*******************MUSIQUE-SECTION*/
.musique-section {
  width: 90vw;
  padding: 5rem 5%;
  background-color: var(--yellow);
  gap: 5rem;
}
.musique-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.musique-title h2 {
  z-index: 2;
}
.musique-title h3 {
  z-index: 2;
  color: var(--black);
  width: 90%;
}
.musique-title img {

	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  width: 75px;
}
/**2 CIRCLES**/
#circle-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  margin-bottom: 40%;
  flex-shrink: 0;
  z-index: 1; 
  border-radius: 50%;
  background: var(--rose);
  background-image: url(/assets/img/icones/icon-vinyl2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  animation: rotate-animation 10s infinite linear;
}
#circle-2 {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 30%;
  margin-top: 50%;
  flex-shrink: 0;
  z-index: 0;  
  border-radius: 50%;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#circle-2 a{
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black);
  background-image: url(/assets/img/icones/icon-vinyl3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
#circle-2 a:hover{
  animation: rotate-animation 10s infinite linear;
  transform: scale(1.1);
}
#circle-2 a:nth-child(2){
  margin-top: 2rem;
}
#vinyl {
  width: 100%;
}